<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-5">
                    <h6 class="text-primary text-uppercase">Sobre Nosotros:</h6>
                    <h1 class="display-5 text-uppercase mb-0">Por una vida plena y feliz</h1>
                </div>
                <h4 class="text-body mb-4">Somos una organización sin fines de lucro dedicada al rescate de animales en situaciones de riesgo. Desde nuestra fundación, hemos trabajado incansablemente para proporcionar hogares seguros y amorosos para los animales que rescatamos, así como para fomentar una cultura de respeto y cuidado hacia ellos en nuestra comunidad</h4>
                <div class="bg-light p-4">
                    <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                    aria-selected="true">
                                Misión
                            </button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                    aria-selected="false">
                                Visión
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <p class="mb-0">Nuestra misión es proteger y salvar la vida de animales en situaciones de peligro, proporcionándoles un hogar seguro y amoroso, y fomentando la educación y conciencia sobre la importancia del cuidado animal en nuestra comunidad.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <p class="mb-0">Nuestra visión es un mundo en el que todos los animales sean tratados con respeto y compasión, y donde la crueldad y el abandono animal sean cosa del pasado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->