<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-7">
                <div class="border-start border-5 border-dark ps-5 mb-5">
                    <h6 class="text-dark text-uppercase">Adoptar un animal de compañía</h6>
                    <h1 class="display-5 text-uppercase text-white mb-0">Además de salvar una vida, la adopción de animales tiene múltiples beneficios</h1>
                </div>
                <p class="text-white mb-4"> Adoptar un animal de compañía es una de las decisiones más gratificantes que se pueden tomar. Al hacerlo, no solo estás salvando una vida, sino que también estás proporcionando un hogar amoroso a un animal necesitado. Los animales adoptados a menudo son más agradecidos y leales a sus dueños, ya que han pasado por situaciones difíciles en el pasado. También se ha demostrado que tener un animal de compañía puede mejorar la salud física y mental de las personas</p>
            </div>
        </div>
    </div>
</div>
