@model ProyectoFinalWeb.Entities.UsuariosEnt
@{
    ViewBag.Title = "GenerarContrasenna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                        </div>

                        <h4>Recuperar Contraseña.</h4>

                        @using (Html.BeginForm("GenerarContrasenna", "Home", FormMethod.Post, new { @class = "pt-3" }))
                        {
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.email, new
                                {
                                    @class = "form-control form-control-lg",
                                    @placeholder = "Correo Electrónico",
                                    @required = true,
                                    @type = "Email",
                                    @onblur = "BuscarCorreo();"
                                })
                            </div>

                            <div class="mt-3">

                                <div class="row">
                                    <div class="col-12">
                                        <input type="submit" id="btnProcesar" disabled value="Procesar" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/RecuperarUsuario.js"></script>