<!-- Tips Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Consejos</h6>
            <h1 class="display-5 text-uppercase mb-0">para el cuidado de las mascotas</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-house display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Mantén a tu mascota en forma</h5>
                        <p>Asegúrate de que tu mascota haga suficiente ejercicio diario, ya sea mediante paseos, jugar en el parque, o juegos interactivos en casa. Esto no sólo mantendrá a tu mascota saludable, sino que también reducirá el estrés y la ansiedad</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-food display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Alimenta a tu mascota adecuadamente</h5>
                        <p>Proporciona una dieta equilibrada y nutritiva que se adapte a las necesidades de tu mascota. Evita darle alimentos humanos o golosinas que podrían causar problemas de salud.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-dog display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Programa revisiones regulares con el veterinario</h5>
                        <p>Lleva a tu mascota a chequeos regulares con el veterinario para asegurarte de que esté en buena salud y prevenir problemas de salud a largo plazo. No esperes hasta que tu mascota esté enferma para llevarla al veterinario.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-cat display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Proporciona un ambiente seguro</h5>
                        <p>Crea un espacio seguro y cómodo para tu mascota en casa, lejos de peligros como productos químicos o cables eléctricos. También asegúrate de que tu mascota tenga una etiqueta de identificación y un microchip en caso de que se pierda.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-grooming display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Mantén su higiene</h5>
                        <p>Asegúrate de bañar a tu mascota regularmente y cepillar su pelaje para evitar la acumulación de suciedad y parásitos. También recuerda limpiar sus oídos, cortar sus uñas y cepillar sus dientes para mantener su higiene bucal.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item bg-light d-flex p-4">
                    <i class="flaticon-vaccine display-1 text-primary me-4"></i>
                    <div>
                        <h5 class="text-uppercase mb-3">Dale mucho amor y atención</h5>
                        <p>Las mascotas necesitan afecto y atención tanto como alimento y agua. Dedica tiempo a jugar con tu mascota, acariciarla y mostrarle amor para mantenerla feliz y sana emocionalmente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tips End -->
